.doctor-detail-container {
    height: 500px;
    width: 1140px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    .intro-doctor{
        display: flex;
        .content-left{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .content-right {
            flex: 1;
            padding-left: 15px;

            .doctor-name {
                font-size: 28px;
                font-weight: 600;
            }

            .doctor-describe {
                font-size: 15px;
            }

        }
    }

    .detail-infor-doctor {
        margin-top: 15px;
    }
}