.home-header-container {
    height: 78px;
    width: 100%;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            .header-logo {
                background: url('../../assets/images/bookingcare-2020.svg') center center no-repeat;
                width: 40%;
                height: 55%;
            }

            i {
                font-size: 1.6rem;
                color: rgb(143, 143, 143);
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .child-content {
                font-size: 1.1rem;
                .subs-title {
                    font-weight: 400;
                    font-size: 1rem;
                    color:rgb(121, 121, 121)
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                margin-right: 3px;
                font-size: 15px;
                color: #49bce2;
            }

            .support {
                padding-right: 30px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            .language-vi, .language-en {
                padding: 8px;
                cursor: pointer;
                font-size: 15px;
                opacity: 0.3;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    opacity: 1;
                    span {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}

.home-header-banner {
    background: url('../../assets/images/bookingcare-cover-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
    min-height: 650px;
    color: white;
    display: flex;
    flex-direction: column;

    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));
        height: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title1 {
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px #333;
            margin-top: 30px;
            font-weight: 500;
        }
    
        .title2 {
            text-align: center;
            font-size: 35px;
            text-shadow: 1px 1px 1px #333;
            font-weight: 600;
            margin-bottom: 30px;
        }
    
        .search {
            width: fit-content;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            // padding: 10px;
            border-radius: 25px;
            background: #f7d800;
    
            i {
                font-size: 1.2rem;
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;            
            }
    
            .search-input {
                width: 410px;
                height: 100%;
                font-size: 1.3rem;
                padding-right: 40px;
                border: none;
                outline: none;
                background-color: transparent;
            }
        }
    
    }

    .content-down {
        height: 35%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        .options {
            display: flex;
            justify-content: center;
            gap: 70px;
            text-align: center;
            .option-child {
                width: 125px;

                &:hover {
                    color: #49bce2;
                }
                .icon-child {
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                    background-color: white;
                    box-shadow: 0 1px rgba(51, 51, 51, 0.397);
                    border-radius: 50%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    color: #49bce2;
                    font-size: 25px;
                }

                .text-child {
                    font-size: 20px;
                    font-weight: 500;                    
                }
            }

        }
    }
}
